#follows .card {
  flex-flow: row wrap;
  align-items: center;
}

#follows .card img {
  flex: 0 0 7%;
  max-width: 7%;
  object-fit: cover;
  box-shadow: 0 0 10px #000;
  border-radius: 50%;
  margin: 10px 0;
  background: #444;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

#follows .card a {
  margin-bottom: 0;
  flex: 0 0 53%;
  max-width: 53%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  color: #fff;
}

#follows .card a:hover {
  text-decoration: none;
}

#follows .card button {
  flex: 0 0 40%;
  max-width: 40%;
}
