@import 'var.scss';

#follows {
  .card {
    flex-flow: row wrap;
    align-items: center;

    img {
      flex: 0 0 7%;
      max-width: 7%;
      object-fit: cover;
      box-shadow: 0 0 10px #000;
      border-radius: 50%;
      margin: 10px 0;
      background: $dark2;
      cursor: pointer;
    }

    a {
      margin-bottom: 0;
      flex: 0 0 53%;
      max-width: 53%;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 20px;
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }

    button {
      flex: 0 0 40%;
      max-width: 40%;
    }
  }
}
