@import 'var.scss';

html, body {
  background-color: #F7F0F7;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
  background: $dark;
}

::-webkit-scrollbar {
  width: calc(10px);
}
::-webkit-scrollbar-track {
  background: $dark2;
}
::-webkit-scrollbar-thumb {
  background: $light;
}
::-webkit-scrollbar-button {
  display: none;
}

main.page-content {
  min-height: 50vh;
}

// bootstrap overwrites

.container {
  max-width: 800px;
  color: $light;

  @media screen and (max-width: $breakpoint) {
    max-width: 95%;
  }
}

.form-control {
  margin-bottom: 10px;
}

.alert {
  text-align: center;
  background: #dd6d0a;
  color: $light;
  font-weight: bold;
  border-color: rgba(255, 255, 255, .5);
}

.card {
  background: $dark;
  border-color: $light;
  box-shadow: 0 0 0 0.1rem rgba(255,255,255,.25);
}

.form-control {
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
    border-color: $dark;
  }
}
