@import 'var.scss';

html, body {
  background-color: #F7F0F7;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}

main.page-content {
  min-height: 50vh;
}

.container {
  max-width: 800px;

  @media screen and (max-width: $breakpoint) {
    max-width: 95%;
  }
}

.form-control {
  margin-bottom: 10px;
}

.alert {
  text-align: center;
}
