html, body {
  background-color: #F7F0F7;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
  background: #333;
}

::-webkit-scrollbar {
  width: calc(10px);
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background: #f7f7f7;
}

::-webkit-scrollbar-button {
  display: none;
}

::selection {
  background: rgba(255, 193, 7, 0.5);
}

#preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #333;
  background-image: url("../design/preloader.svg");
  background-repeat: no-repeat;
  background-position: center;
}

main.page-content {
  min-height: 50vh;
}

button.btn-follow, button.btn-unfollow {
  display: none;
}

button.btn-follow.active, button.btn-unfollow.active {
  display: block;
}

a {
  color: #e0a800;
  transition: color 200ms ease, text-decoration 200ms ease;
}

a:hover {
  color: #f7f7f7;
}

textarea::-webkit-scrollbar-track, textarea::-webkit-scrollbar-thumb {
  display: none;
}

.verified {
  position: relative;
}

.verified:before {
  content: '';
  background-image: url("../design/verified_logo.png");
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}

#login .container {
  box-shadow: inset 0 0 10px #000;
}

.container {
  max-width: 800px;
  color: #f7f7f7;
}

@media screen and (max-width: 840px) {
  .container {
    max-width: 95%;
  }
}

.form-control {
  margin-bottom: 10px;
}

.alert {
  text-align: center;
  background: #dd6d0a;
  color: #f7f7f7;
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.card {
  background: #333;
  border-color: #f7f7f7;
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.25);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  border-color: #333;
}

.btn {
  width: 100%;
  font-weight: bold;
}

.btn:hover {
  box-shadow: inset 0 0 5px 0px #333;
}

.btn.btn-unfollow {
  background: #fff !important;
  border-color: #fff !important;
  color: #0062cc !important;
}

.btn-warning {
  color: #212529 !important;
}
