@import 'var.scss';

html, body {
  background-color: #F7F0F7;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
  background: $dark;
}

::-webkit-scrollbar {
  width: calc(10px);
}
::-webkit-scrollbar-track {
  background: $dark2;
}
::-webkit-scrollbar-thumb {
  background: $light;
}
::-webkit-scrollbar-button {
  display: none;
}

::selection {
  background: rgba(255, 193, 7, .5);
}



#preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: $dark;
  background-image: url('../design/preloader.svg');
  background-repeat: no-repeat;
  background-position: center;
}

main.page-content {
  min-height: 50vh;
}

button.btn-follow, button.btn-unfollow {
  display: none;

  &.active {
    display: block;
  }
}

// bootstrap overwrites

.container {
  max-width: 800px;
  color: $light;

  @media screen and (max-width: $breakpoint) {
    max-width: 95%;
  }
}

.form-control {
  margin-bottom: 10px;
}

.alert {
  text-align: center;
  background: #dd6d0a;
  color: $light;
  font-weight: bold;
  border-color: rgba(255, 255, 255, .5);
  width: 100%;
}

.card {
  background: $dark;
  border-color: $light;
  box-shadow: 0 0 0 0.1rem rgba(255,255,255,.25);
}

.form-control {
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
    border-color: $dark;
  }
}

.btn {
  width: 100%;
  font-weight: bold;

  &:hover {
    box-shadow: inset 0 0 5px 0px $dark;
  }
}

.btn.btn-unfollow {
  background: #fff !important;
  border-color: #fff !important;
  color: #0062cc !important;
}
