@import 'var.scss';

#profile {
  .profile-header {
    border-bottom: 1px solid $light;
    display: flex;
    flex-flow: row wrap;

    .profile-img {
      flex: 0 0 30%;
      max-width: 30%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 2%;
      position: relative;

      img {
        width: 100%;
        max-width: 100%;
        background: $light;
        border: 1px solid $dark;
        border-radius: 5%;
        box-shadow: 0 0 0 0.1rem rgba(255,255,255,.25);
        object-fit: cover;
        user-select: none;
        -webkit-user-drag: none;
      }

      input[type="file"] {
        display: none;
      }

      .overlay {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 5%;
        width: 100%;
        height: 100%;
        top: 0;
        cursor: pointer;
        transition: 200ms ease;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 50px;
          background-image: url(../design/upload_img.svg);
          background-size: 50px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &:hover {
        .overlay {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .profile-info {
      flex: 0 0 70%;
      max-width: 70%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 2%;
      max-height: 230px;

      h4 {
        flex: 0 0 60%;
        max-width: 60%;
        margin-bottom: 0;
      }

      button {
        flex: 0 0 40%;
        max-width: 40%;
        height: fit-content;
      }

      p {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 0;
      }

      textarea {
        height: 100%;
        max-height: calc(100% - 50px);
        resize: none;
      }
    }

    .admin-buttons {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-around;

      .btn {
        margin: 10px;
      }
    }
  }

  // base styling for .post comes from the feed.scss file
  .profile-posts {
    display: flex;
    flex-flow: row wrap;

    .post {
      width: 50%;

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      @media screen and (min-width: 600px) {
        padding: 50px;
      }

      @media screen and (min-width: 600px) and (max-width: $breakpoint) {
        p.message {
          font-size: 15px;
        }
      }

      p.message {
        font-size: 18px;
      }

      p.like {
        font-size: 17px;
        left: 50px;

        &:before {
          font-size: 30px;
        }
      }

      button.delete {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        box-shadow: 0px 0px 5px 0px $dark;
        border-radius: 50%;
        color: #fff;
        background: $dark;
        display: flex;
        top: 10px;
        right: 10px;
        font-size: 30px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 200ms ease;
        outline: none;
      }

      &:hover {
        button.delete {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
