#profile .profile-header {
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  flex-flow: row wrap;
}

#profile .profile-header .profile-img {
  flex: 0 0 30%;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2%;
  position: relative;
}

#profile .profile-header .profile-img img {
  width: 100%;
  max-width: 100%;
  background: #f7f7f7;
  border: 1px solid #333;
  border-radius: 5%;
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.25);
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

#profile .profile-header .profile-img input[type="file"] {
  display: none;
}

#profile .profile-header .profile-img .overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
  transition: 200ms ease;
}

#profile .profile-header .profile-img .overlay:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-image: url(../design/upload_img.svg);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

#profile .profile-header .profile-img:hover .overlay {
  visibility: visible;
  opacity: 1;
}

#profile .profile-header .profile-info {
  flex: 0 0 70%;
  max-width: 70%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 2%;
  max-height: 230px;
}

#profile .profile-header .profile-info h4 {
  flex: 0 0 60%;
  max-width: 60%;
  margin-bottom: 0;
}

#profile .profile-header .profile-info button {
  flex: 0 0 40%;
  max-width: 40%;
  height: fit-content;
}

#profile .profile-header .profile-info p {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 0;
}

#profile .profile-header .profile-info textarea {
  height: 100%;
  max-height: calc(100% - 50px);
  resize: none;
}

#profile .profile-header .admin-buttons {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

#profile .profile-header .admin-buttons button.btn {
  margin: 10px;
}

#profile .profile-posts {
  display: flex;
  flex-flow: row wrap;
}

#profile .profile-posts .post {
  width: 50%;
}

@media screen and (max-width: 600px) {
  #profile .profile-posts .post {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  #profile .profile-posts .post {
    padding: 50px;
  }
}

@media screen and (min-width: 600px) and (max-width: 840px) {
  #profile .profile-posts .post p.message {
    font-size: 15px;
  }
}

#profile .profile-posts .post p.message {
  font-size: 18px;
}

#profile .profile-posts .post p.like {
  font-size: 17px;
  left: 50px;
}

#profile .profile-posts .post p.like:before {
  font-size: 30px;
}
