.profile-header {
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  flex-flow: row wrap;
}

.profile-header .profile-img {
  flex: 0 0 30%;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2%;
}

.profile-header .profile-img img {
  width: 100%;
  max-width: 100%;
  background: #f7f7f7;
  border: 1px solid #333;
  border-radius: 5%;
  box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.25);
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.profile-header .profile-info {
  flex: 0 0 70%;
  max-width: 70%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 2%;
}

.profile-header .profile-info h4 {
  flex: 0 0 60%;
  max-width: 60%;
  margin-bottom: 0;
}

.profile-header .profile-info button {
  flex: 0 0 40%;
  max-width: 40%;
  height: fit-content;
}

.profile-header .profile-info p {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 0;
}

.profile-header .admin-buttons {
  background: #00f;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile-header .admin-buttons button.btn {
  margin: 10px;
}
