// breakpoints
$break-mobile: 778px;
$break-tablet: 1050px;

// color
$accent1: #8190ff; // light blue
$accent2: #0a102d; // dark blue
$accent3: #0a102d; // dark blue
$accent4: #c2cad0; // unused light blue
$accent5: #c2b9b0; // unused grey
$dark: #333;
