#write-post {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: all 500ms ease;
}

#write-post > .container {
  background: #444;
  border-radius: 0 0 5px 5px;
  border: 1px solid #f7f7f7;
  border-top: none;
  transition: box-shadow 200ms ease;
  margin-bottom: 1px;
}

#write-post > .container textarea {
  min-height: 100px;
}

#write-post > .container textarea::-webkit-scrollbar-track, #write-post > .container textarea::-webkit-scrollbar-thumb {
  display: none;
}

#write-post #open-write-post {
  background: #444;
  display: block;
  position: absolute;
  left: 30%;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 2px #f7f7f7;
  margin-top: -1px;
}

#write-post #open-write-post img {
  width: 30px;
  padding: 5px 3px 3px 3px;
  transition: transform 250ms ease, top 250ms ease;
  position: relative;
  top: 0;
  user-select: none;
  -webkit-user-drag: none;
}

#write-post #open-write-post img:hover {
  top: 4px;
}

#write-post.open > .container {
  box-shadow: 0px 40px 30px 20px rgba(0, 0, 0, 0.1);
}

#write-post.open img {
  transform: rotateZ(180deg);
}
