@import 'var.scss';

#write-post {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: all 500ms ease;

  > .container {
    background: $dark2;
    border-radius: 0 0 5px 5px;
    border: 1px solid $light;
    border-top: none;
    transition: box-shadow 200ms ease;
    margin-bottom: 1px;

    textarea {
      min-height: 100px;
    }
  }

  #open-write-post {
    background: $dark2;
    display: block;
    position: absolute;
    left: 30%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 2px $light;
    margin-top: -1px;

    img {
      width: 30px;
      padding: 5px 3px 3px 3px;
      transition: transform 250ms ease, top 250ms ease;
      position: relative;
      top: 0;
      user-select: none;
      -webkit-user-drag: none;

      &:hover {
        top: 4px;
      }
    }
  }

  &.open {
    > .container {
      box-shadow: 0px 40px 30px 20px rgba(0, 0, 0, .1);
    }

    img {
      transform: rotateZ(180deg);
    }
  }
}
