#DON'T SHOW DIRECTORY LISTINGS
Options -Indexes

ErrorDocument 400 /socialmedia/pages/error.php
ErrorDocument 401 /socialmedia/pages/error.php
ErrorDocument 403 /socialmedia/pages/error.php
ErrorDocument 404 /socialmedia/pages/error.php
ErrorDocument 405 /socialmedia/pages/error.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^$ pages/login.php
RewriteRule ^home$ pages/home.php
RewriteRule ^login$ pages/login.php
RewriteRule ^logout$ php/ajax/logout_submit.php

DirectoryIndex index.php
